<h1>Say hi to <%= @puppy.name %>!</h1>
<p><%= @puppy.name %> is <%= @puppy.age %> years old and is a <%= @puppy.breed %> breed.</p>
<p><%= link_to "Edit #{@puppy.name}", "/puppies/#{@puppy.id}/edit" %></p>
<p><%= link_to "Back", "/puppies" %></p>